@use '../color.scss';

.section__navigation {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    color: color.$gold;
    margin-bottom: 10px;

    

    nav {
        width: 100%;
        max-width: 1480px;
    }

    .nav__ul {
        display: flex;
        justify-content: space-around;
        cursor: pointer;
        .login{
        height: 100%;
        aspect-ratio: 1;
        border-radius: 50%;
        background-color: black;
        background-size: cover;
        padding: 5px 5px 7px 5px;
        text-align: center;
    }

        li {

            padding: 5px;
            font-size: 1.3rem;
        }

        li:hover {
            text-shadow: -2px -2px 15px color.$gold , 2px 2px 15px color.$gold;

        }
    }
}